<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  </configSections>
  <system.webServer>
    <modules>
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler"/>
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="managedHandler"/>
    </modules>
    <defaultDocument enabled="true">
      <files>
        <clear/>
        <add value="index.aspx"/>
      </files>
    </defaultDocument>
  </system.webServer>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="Data Source=.;Initial Catalog=spdb;Integrated Security=True"/>
  </connectionStrings>
  <location path="~/login.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.web>
    <xhtmlConformance mode="Strict"/>
    <httpRuntime targetFramework="4.5"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add assembly="System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <authorization>
      <deny users="?"/>
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="~/login.aspx" defaultUrl="index.aspx" ticketCompatibilityMode="Framework40"/>
    </authentication>
    <!-- MEMBERSHIP CONFIGS  -->
    <membership defaultProvider="memberProvider">
      <providers>
        <add name="memberProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"/>
      </providers>
    </membership>
    <roleManager enabled="true" defaultProvider="roleProvider">
      <providers>
        <add name="roleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices"/>
      </providers>
    </roleManager>
  </system.web>
  <system.serviceModel>
    <protocolMapping>
      <add scheme="http" binding="wsHttpBinding"/>
    </protocolMapping>
  </system.serviceModel>
  <!-- DOCUMENTED POINT OF CONTACT FOR IDENTITY AS A SERVICE -->
  <system.identityModel>
    <identityConfiguration>
      <audienceUris>
        <add value="https://idtest.techlyric.org/sp"/>
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ValidatingIssuerNameRegistry, System.IdentityModel.Tokens.ValidatingIssuerNameRegistry">
        <authority name="urn:auth0techlyric">
          <keys>
            <add thumbprint="F3078C1BBCB55C36DEDE4ACBC6090F4FCDFEE947"/>
          </keys>
          <validIssuers>
            <add name="urn:auth0techlyric"/>
          </validIssuers>
        </authority>
      </issuerNameRegistry>
      <certificateValidation certificateValidationMode="None"/>
    </identityConfiguration>
  </system.identityModel>
  <system.identityModel.services>
    <federationConfiguration>
      <cookieHandler requireSsl="false"/>
      <wsFederation passiveRedirectEnabled="true" issuer="https://techlyric.auth0.com/wsfed" realm="https://idtest.techlyric.org/sp" requireHttps="false"/>
    </federationConfiguration>
  </system.identityModel.services>
</configuration>